---
layout: sezionelocale
title: Bari

extras:
  - label: Referente
    value: ferdinando.traversa@linux.it

  - label: Forum
    value: <a href="https://forum.linux.it/c/lug/ils-bari/22">Clicca Qui</a>
---

<p>
    La Sezione Locale di Bari nasce dal gruppo informale che negli anni ha organizzato il Linux Day nel capoluogo pugliese, e coinvolge diversi soggetti soprattutto nell'ambito dell'università locale.
</p>
