---
layout: page
title: Progetti e Attività
---

<h1 class="mb-3">{{ page.title }}</h1>

<hr>

<img src="/assets/images/linuxday_logo.png" alt="Linux Day" class="float-right" loading="lazy" >
<h3>Il Linux Day</h3>

<p>Dal 2001 ILS coordina il Linux Day, la più nota e importante manifestazione nazionale per la promozione e la diffusione del software libero in Italia.</p>
<p>L'iniziativa consiste in una serie di eventi locali, organizzati indipendentemente da tutti coloro che desiderano aderire - in gran parte dai Linux User Group, ma non solo - nel costante rispetto delle <a href="http://www.linuxday.it/lineeguida">Linee Guida</a> comuni e condivise. ILS determina la data - che da alcuni anni è stata fissata al quarto sabato di ottobre -, conserva e aggiorna il <a href="http://www.linuxday.it/">sito nazionale di riferimento</a> sugli eventi locali, vigila sulla qualità degli stessi e sull'applicazione delle regole di base, promuove la manifestazione collettiva sui canali mediatici nazionali, supporta <a rel="nofollow" href="http://lists.linux.it/listinfo/linuxday-idee">la mailing list pubblica</a> di coordinamento e fornisce materiale divulgativo e informativo a tutti gli organizzatori che ne facciano richiesta.</p>

<hr>

<img src="linux_logo.png" alt="Tux, la mascotte Linux" class="float-left" loading="lazy" >
<h3>Linux.it</h3>

<p>ILS amministra <a href="http://www.linux.it/">Linux.it</a>, sito Internet di carattere informativo destinato a coloro che vogliono saperne di più su Linux, sul software libero e sulla variegata e dinamica community italiana.</p>
<p>Con un elenco di definizioni e di domande frequenti si vogliono aiutare i nuovi utenti a comprendere il contesto culturale e a districarsi con il gergo tecnico in cui ci si può imbattere durante le proprie esplorazioni, ma ampio spazio sul sito è comunque dedicato all'incontro diretto con le comunità locali di appassionati ed esperti cui unirsi, sia per approfondire gli argomenti che per dare una mano.</p>

<hr>

<a href="manuale_operativo_lug.pdf"><img src="manuale_community.png" alt="Manuale Operativo Linux Users Groups" class="float-right" loading="lazy"></a>
<h3 id="servizi">Servizi ai LUG</h3>

<p>Da sempre ILS eroga e mantiene servizi gratuiti dedicati alla comunità italiana degli utenti Linux, soprattutto per lo svolgimento delle attività e per la promozione verso il pubblico dei LUG: domini internet, spazio web, mailing list...</p>
<p>Tutte le possibilità offerte, ai soci e non solo, e le modalità per accedervi, sono riassunte nel <a href="manuale_operativo_lug.pdf">"Manuale Operativo per la Community"</a>, una guida completa su come e perché creare un LUG, su come mantenerlo e su come farlo crescere, scaricabile in formato PDF.</p>

<hr>

<h3 id="varie">Varie ed Eventuali</h3>

<div class="mt-5 mb-5">
    <div class="card-deck ils-services-grid">
        <div class="card border-light">
            <img src="lugmap_logo.png" class="card-img-top" loading="lazy" alt="LugMap">
            <div class="card-body">
                <h5 class="card-title">LugMap</h5>
                <p class="card-text">Indice dei Linux Users Groups in Italia.</p>
            </div>
            <div class="card-footer">
                <a href="https://lugmap.linux.it/" class="btn btn-primary btn-block">Vai</a>
            </div>
        </div>

        <div class="card border-light">
            <img src="scuola_logo.png" class="card-img-top" loading="lazy" alt="Scuola Linux">
            <div class="card-body">
                <h5 class="card-title">Scuola</h5>
                <p class="card-text">Aggiornamenti su software e contenuti liberi a scuola.</p>
            </div>
            <div class="card-footer">
                <a href="https://scuola.linux.it/" class="btn btn-primary btn-block">Vai</a>
            </div>
        </div>

        <div class="card border-light">
            <img src="linuxsi_logo.png" class="card-img-top" loading="lazy" alt="LinuxSi">
            <div class="card-body">
                <h5 class="card-title">LinuxSi</h5>
                <p class="card-text">Indice dei negozi Linux-friendly.</p>
            </div>
            <div class="card-footer">
                <a href="https://www.linuxsi.com/" class="btn btn-primary btn-block">Vai</a>
            </div>
        </div>

        <div class="card border-light">
            <img src="forum_logo.png" class="card-img-top" loading="lazy" alt="Forum">
            <div class="card-body">
                <h5 class="card-title">Forum</h5>
                <p class="card-text">Discussioni e condivisioni.</p>
            </div>
            <div class="card-footer">
                <a href="https://forum.linux.it/" class="btn btn-primary btn-block">Vai</a>
            </div>
        </div>
    </div>

    <br>

    <div class="card-deck ils-services-grid">
        <div class="card border-light">
            <img src="planet_logo.png" class="card-img-top" loading="lazy" alt="Planet LUG">
            <div class="card-body">
                <h5 class="card-title">Planet</h5>
                <p class="card-text">Aggregatore delle notizie e degli eventi dei LUG.</p>
            </div>
            <div class="card-footer">
                <a href="https://scuola.linux.it/" class="btn btn-primary btn-block">Vai</a>
            </div>
        </div>

        <div class="card border-light">
            <img src="video_logo.png" class="card-img-top" loading="lazy" alt="Video">
            <div class="card-body">
                <h5 class="card-title">Video</h5>
                <p class="card-text">Video formativi ed informativi della community.</p>
            </div>
            <div class="card-footer">
                <a href="https://video.linux.it/" class="btn btn-primary btn-block">Vai</a>
            </div>
        </div>

        <div class="card border-light">
            <img src="servizi_logo.png" class="card-img-top" loading="lazy" alt="Servizi">
            <div class="card-body">
                <h5 class="card-title">Servizi</h5>
                <p class="card-text">Servizi online di pubblica utilità.</p>
            </div>
            <div class="card-footer">
                <a href="https://servizi.linux.it/" class="btn btn-primary btn-block">Vai</a>
            </div>
        </div>

        <div class="card border-light">
            <img src="donazioni_logo.png" class="card-img-top" loading="lazy" alt="Donazioni">
            <div class="card-body">
                <h5 class="card-title">Donazioni</h5>
                <p class="card-text">Raccolte fondi per il sostegno allo sviluppo di software libero.</p>
            </div>
            <div class="card-footer">
                <a href="https://donazioni.linux.it/" class="btn btn-primary btn-block">Vai</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <img src="sistemainoperativo.png" alt="Sistema Inoperativo" class="img-fluid" loading="lazy" >
    </div>
    <div class="col-md-10 mb-3">
        <p><a href="http://sistemainoperativo.it/">Campagna informativa</a>, condotta insieme all'Associazione per i Diritti degli Utenti e dei Consumatori, sulla possibilità di chiedere il rimborso di licenze software non richieste sui PC di nuovo acquisto. Ispirata dalla sentenza della Corte di Cassazione del settembre 2014 nella quale si sancisce il diritto a tale rimborso, l'iniziativa prevede anche il coinvolgimento dei maggiori produttori e distributori di computer in Italia.</p>
    </div>

    <div class="col-md-2">
        <img src="liberascuola.png" alt="La Libera Scuola" class="img-fluid" loading="lazy" >
    </div>
    <div class="col-md-10 mb-3">
        <p>Iniziativa mossa in risposta alla consultazione "La Buona Scuola", aperta dal Ministero per l'Istruzione a fine 2014 per raccogliere idee e spunti per la scuola italiana. Le cinque proposte relative all'adozione di software e contenuti liberi, sposate oltre che da Italian Linux Society anche da Wikimedia Italia, hanno avuto ampio consenso di pubblico e generato numerosi messaggi sui social network destinati all'allora Ministro Stefania Giannini.</p>
    </div>

    <div class="col-md-2">
        <img src="wiildos.png" alt="WiiLDOS" class="img-fluid" loading="lazy" >
    </div>
    <div class="col-md-10 mb-3">
        <p>La community <a rel="nofollow" href="https://groups.google.com/forum/#!forum/lavagnalibera">Lavagna Libera</a> (ex "Wii Libera la Lavagna") raccoglie insegnanti, studenti e tecnici che si danno mutuo sostegno per portare il software libero in classe. Qui transitano segnalazioni di nuove applicazioni e risorse didattiche, richieste di aiuto tecnico, e notizie relative al mondo della scuola.</p>
    </div>

    <div class="col-md-2">
        <img src="dossierscuola.png" alt="Dossier Scuola" class="img-fluid" loading="lazy" >
    </div>
    <div class="col-md-10 mb-3">
        <p>Il Dossier Scuola, realizzato in occasione del Linux Day 2010, è un opuscolo informativo sullo stato dell'arte del software libero in ambiente scolastico: applicazioni, consigli e casi di successo da usare come guida per adottare Linux ed il freesoftware anche in classe. Stampato in migliaia di copie e distribuito presso numerosi istituti scolastici.</p>
    </div>

    <div class="col-md-2">
        <img src="knopils.png" alt="KnopILS" class="img-fluid" loading="lazy" >
    </div>
    <div class="col-md-10 mb-3">
        <p>Mantenuta fino al 2005, <a rel="nofollow" href="http://knopils.linux.it/">KnopILS</a> è stata una distribuzione avviabile da CD senza installazione, completamente localizzata in italiano, diffusa gratuitamente in migliaia di copie, che ha aiutato molti ad avvicinarsi a Linux in tempi in cui non esistevano le odierne Ubuntu o Fedora e non era sempre così facile adottare la scelta freesoftware.</p>
    </div>

    <div class="col-md-2">
        <img src="debian.png" alt="Debian" class="img-fluid" loading="lazy" >
    </div>
    <div class="col-md-10 mb-3">
        <p>Dal 2000 ILS ospita e mantiene il mirror ufficiale italiano della distribuzione Debian, una delle più longeve e popolari (quella da cui poi è stata derivata Ubuntu).</p>
    </div>
</div>
