---
---

.page-contents {
    font-size: 1.2em;
    line-height: 1.8em;
}

.news_title {
    width: 100%;
    padding-bottom: 20%;
    height: 0;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: lighten;
    background-color: rgba(255, 255, 255, 0.5);

    .post-title {
        background-color: rgba(255, 255, 255, 0.5);
        padding: 4px;
        position: absolute;
        left: 10px;
        right: 10px;
        bottom: 10px;
    }
}

.home_news {
    .news_title {
        padding-bottom: 150%;
    }
}

.post_page {
    .news_title {
        padding-bottom: 50%;
        background-blend-mode: normal;
    }
}

article {
    time {
        display: block;
        margin-bottom: 20px;
        opacity: .8;
    }
}

.btn-primary {
    background-color: #ffa200;
    border-color: #ffa200;

    &:hover {
        color: #000;
        background-color: #FFF;
        border-color: #000;
    }
}

.cta-button {
    text-decoration: none;

    &:hover {
        text-decoration: none;
        box-shadow: 0 0 5px #444;
        background-color: #FFF;
        border-color: #FFF;
    }
}

.ils-services-grid {
    .card-footer {
        padding: 0;
        background-color: #FFF;
    }
}

.pagination {
    a {
        text-decoration: none;
        color: #ffa200;
    }

    li.active {
        a {
            background-color: #000 !important;
            border-color: #000 !important;
        }
    }
}

#mapid {
    width: 100%;
    height: 100%;
}

#ils_footer {
    a {
        text-decoration: none;
    }

    .col-md-3 {
        padding: 5px;

        .cell {
            border: 1px solid rgba(255,255,255,0.1);
            padding: 10px;
        }
    }
}

@media (max-width: 768px) {
    .display-4 {
        font-size: 2.5rem;
    }

    .news_title {
        padding-bottom: 50%;
    }

    .post_page {
        .news_title {
            padding-bottom: 100%;
        }
    }
}
