---
layout: page
title: Newsletter
---

<h1 class="mb-3">{{ page.title }}</h1>

<div class="card text-white bg-secondary">
    <div class="card-body">
        <iframe title="Newsletter ILS" src="https://mautic.ldto.it/form/1" width="100%" height="400" frameBorder="0"><p>Your browser does not support iframes.</p></iframe>
    </div>
</div>
