---
layout: sezionelocale
title: Firenze

extras:
  - label: Referente
    value: gianna.papi@linux.it

  - label: Forum
    value: <a href="https://forum.linux.it/c/lug/ils-firenze/20">Clicca Qui</a>
---

<p>
    La sezione locale di Firenze si costituisce per continuare le attività di promozione di Linux, del Software Libero e delle libertà digitali di Libera Informatica, attiva a Firenze dal 2009.
</p>

<p>
    Aderiscono alla sezione locale anche alcuni fondatori del gruppo Ninux Firenze.
</p>

<p>
    Le attività previste sono:
</p>

<ul>
    <li>gli incontri serali a tema chiamati BIT (Brevi Incontri Tematici), a cadenza mensile</li>
    <li>seminari e laboratori</li>
    <li>il Linux Day</li>
</ul>

<p>
    Siamo partner dello Sportello Ecoequo del Comune di Firenze, un luogo di riferimento e di aggregazione per le associazioni della area fiorentina, per promuovere la sostenibilità ambientale e sociale dei nostri stili di vita. Lo Sportello Ecoequo del Comune di Firenze ospita spesso le nostre iniziative, nei locali di <a href="https://www.openstreetmap.org/?mlat=43.76930&mlon=11.26908#map=19/43.76930/11.26908">Via dell’Agnolo 1/c-d</a>, alle Murate.
</p>
