---
layout: page
title: Una Slide per il Software Libero
---

<h1 class="mb-3">{{ page.title }}</h1>

<p>A molti capita talvolta di tenere una presentazione su un argomento legato al software libero e open source: un talk tecnico ad una conferenza, una serata divulgativa, una presentazione su un progetto.</p>
<p>Chi vuole può dedicare un minuto della sua presentazione a divulgare una (o più!) iniziative di Italian Linux Society, a seconda del pubblico di riferimento e del taglio del proprio intervento. Qui di seguito ci sono alcuni esempi di slide da aggiungere alle proprie, da usare come esempio o includere così come sono.</p>
<p>Aiutaci ad aiutare la community!</p>

<hr>

<div class="row">
    <div class="col-md-6">
        <img class="img-fluid" style="box-shadow: 5px 5px 10px 2px #333;" src="1percento.png" alt="Campagna 1%">
    </div>
    <div class="col-md-6">
        <strong>Ambito:</strong> talk tecnici destinati a professionisti e freelance.
        <br>
        <strong>Perché?:</strong> per coinvolgere sempre più persone a destinare una parte anche piccola (appunto, l'1%) del proprio fatturato ai progetti open source usati in ambito professionale e aziendale, e garantirne la loro sostenibilità nel tempo.
        <br>
        Per maggiori informazioni: <a href="https://www.linux.it/unopercento">www.linux.it/unopercento</a>
        <br><br>
        <strong><a href="1percento.png">Scarica Slide</a></strong>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-md-6">
        <img class="img-fluid" style="box-shadow: 5px 5px 10px 2px #333;" src="stickers.png" alt="Stickers ILS">
    </div>
    <div class="col-md-6">
        <strong>Ambito:</strong> talk divulgativi, scuole.
        <br>
        <strong>Perché?:</strong> gli adesivi distribuiti gratuitamente da Italian Linux Society sono il mezzo più semplice ed immediato (e simpatico!) per dare a chiunque un ruolo attivo nella promozione di Linux e del software libero, rendere sempre più visibile un logo facilmente riconoscibile, e, un poco alla volta, sfatare la diffusa convinzione che "Nessuno usa Linux".
        <br>
        Per maggiori informazioni: <a href="https://www.linux.it/stickers">www.linux.it/stickers</a>
        <br><br>
        <strong><a href="stickers.png">Scarica Slide</a></strong>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-md-6">
        <img class="img-fluid" style="box-shadow: 5px 5px 10px 2px #333;" src="licenze.png" alt="Sistema Inoperativo">
    </div>
    <div class="col-md-6">
        <strong>Ambito:</strong> un po' tutti.
        <br>
        <strong>Perché?:</strong> benché la Cassazione abbia già riconosciuto, anni fa, il diritto dei consumatori ad ottenere un rimborso per le licenze Windows preinstallate (ma non richieste) sui computer di nuovo acquisto, ottenerlo è sempre una impresa. E per farsi ascoltare dall'Autorità Garante della Concorrenza e del Mercato (AGCM) affinché prenda provvedimenti nei confronti di produttori e rivenditori che non riconoscono tale diritto occorrono numerose e precise segnalazioni da sottoporre.
        <br>
        Per maggiori informazioni: <a href="https://sistemainoperativo.it/">sistemainoperativo.it</a>
        <br><br>
        <strong><a href="licenze.png">Scarica Slide</a></strong>
    </div>
</div>
